<% if current_user %>
    <div class="alert notice alert-info" data-alert="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      Bienvenue <%= current_user.email %>
    </div>
    <div class="row-fluid home_box">
        <div class="well span4">
          <div id="space-invader"></div>
          <p>Actuellement vous devez <%= current_user.amount_owed %> €</p>
        </div>
        <div class="well span4">
          <div class="pacman-container">
            <div class="pacman-body"></div>
            <div class="pacman-mouth">
              <div class="pacman"></div>
            </div>
          </div>
          <p>Actuellement on vous doit x €</p>
        </div>
        <div class="well span4">

          <p>Depuis votre inscription <%= current_user.total_amount_owed %> €</p>
        </div>
    </div>
<% else %>
<%= render 'login' %>
<% end %>